<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>TrackingEvaluationBonusSystem</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>EmpInfoServlet</servlet-name>
		<servlet-class>mvc.com.controller.EmpInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpInfoServlet</servlet-name>
		<url-pattern>/empList.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeGoalServlet</servlet-name>
		<servlet-class>mvc.com.controller.EmployeeGoalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeGoalServlet</servlet-name>
		<url-pattern>/goalsAssignedToEmployees.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoalInfoServlet</servlet-name>
		<servlet-class>mvc.com.controller.GoalInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoalInfoServlet</servlet-name>
		<url-pattern>/goalList.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditGoalInfoServlet</servlet-name>
		<servlet-class>mvc.com.controller.EditGoalInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditGoalInfoServlet</servlet-name>
		<url-pattern>/editGoal.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssignedGoalsServlet</servlet-name>
		<servlet-class>mvc.com.controller.AssignedGoalsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignedGoalsServlet</servlet-name>
		<url-pattern>/assignedGoals.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EvaluationsInfoServlet</servlet-name>
		<servlet-class>mvc.com.controller.EvaluationsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RatingsListServlet</servlet-name>
		<url-pattern>/ratingsView.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RatingsListServlet</servlet-name>
		<servlet-class>mvc.com.controller.RatingsListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EvaluationsInfoServlet</servlet-name>
		<url-pattern>/evaluationsView.jsp</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>mvc.com.filters.EncodingFilter</filter-class>
		<init-param>
			<param-name>encodings</param-name>
			<param-value>US-ASCII, UTF-8, EUC-KR, ISO-8859-15, ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>inputEncodingParameterName</param-name>
			<param-value>ie</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>
</web-app>